# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=rohanrkulkarni
DB_PASSWORD=admin

# Freshdesk API Configuration
FRESHDESK_DOMAIN=abc
FRESHDESK_API_KEY=xyz

# AWS Bedrock Configuration
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
AWS_SESSION_TOKEN=sesion_token
AWS_DEFAULT_REGION=region

# Ollama / Embedding Model Config
OLLAMA_MODEL=nomic-embed-text
