venv/
.vscode/
.env
.DS_Store
__pycache__/
*.pyc
*.pptx
.terraform
.terraform.lock.hcl

# Old prototype scripts to avoid committing
embed_tickets.py
freshdesk.py
ticket_agent_embedding.py

venv
.venv
.env

frontend/node_modules